CustomToDoManager/Service References/FastService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:24777/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FastService" />
  <xs:element name="SyncToDoItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FastService" minOccurs="0" name="item" nillable="true" type="q1:CustomTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncToDoItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDeleteItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncUpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FastService" minOccurs="0" name="item" nillable="true" type="q2:CustomTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncUpdateItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>